#emailSectionContainer {
    width: 50%;
    height: 100%;
    color: white;
    padding-left: 20px;

    .topSection {
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            font-size: 2.4rem;
            margin-top: 14px;
        }
    }

    .midSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #emailOptions {
            margin-bottom: 50px;
            background-color: transparent;
            color: $senary;
            border: none;

            option {
                background-color: transparent;
                color: $senary;
            }
        }

        

        #assignedImageContainer {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
            
            img {
                height: 150px;
                width: 150px;
                margin-right: 20px;
                margin-bottom: 16px;
                border-radius: 4px;
            }
            @include mq("xl") {
                height: 906px;
            }

            #assignedImages {
                height: 100%;
                max-height: 100%;
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .bottomSection {
        #userEmail {
            height: 35px;
            width: 350px;
            background-color: transparent;
            border: solid $senary 3px;
            color: white;
            border-radius: 3px;

            &:focus {
             outline-color: $quaternary;   
            }
        }

        #submitEmail {
            height: 35px;
            background-color: $senary;
            border: 0;
            border-radius: 3px;
        }
    }
}