#emailSectionContainer {
    width: 100%;
    height: 100%;
    color: white;

    @include mq("l") {
        width: 50%;
        padding-left: 20px;
    }

    button {
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
        border-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%) 1;
    }

    .topSection {
        width: 100%;
        display: none;
        @include mq("l") {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        justify-content: center;

        h2 {
            position: relative;
            @include mq("m") {
                font-size: 1.8rem;
                margin-top: 14px;
            }
            @include mq("l") {
                font-size: 2.4rem;
            }
        }

        h2::after {
            content: "";
            position: absolute;
            left: -12px; 
            right: -12px; 
            bottom: -7px; 
            height: 4px; 
            background-color: $quaternary; 
            z-index: -1;
            @include mq("l") {
                left: -16px; 
                right: -16px; 
                bottom: -14px; 
            }
        }
    }

    .midSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .smallDeviceVersion {
            position: relative;

            @include mq("l") {
                display: none;
            }
            
            h2::after {
                content: "";
                position: absolute;
                left: -12px; 
                right: -12px; 
                bottom: 12px; 
                height: 4px; 
                background-color: $quaternary; 
                z-index: -1;
            }
        }

        #emailOptions {
            display: none;
            margin-bottom: 7px;
            background-color: transparent;
            color: $senary;
            border: none;
            @include mq("l") {
                display: block;
                font-size: 1.3rem;
            }
            @include mq("xl") {
                margin-bottom: 20.800px;
            }

            option {
                background-color: transparent;
                color: $senary;
            }

            &:active, &:hover {
                outline: none;
            } 
        }

        #desktopAddEmailItems {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 30px;

            #userEmail {
                height: 35px;
                width: 320px;
                background-color: transparent;
                border: solid $senary 3px;
                color: white;
                border-radius: 3px;
                margin-bottom: 20px;
                display: none;
    
                @include mq("m") {
                    width: 550px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                }
                @include mq("l") {
                    display: block;
                    margin-top: 5px;
                    width: 350px;
                    margin-bottom: 0;
                    margin-top: 0;
                    border-left: 0;
                }
                @include mq("xl") {
                    width: 500px;
                }
                
    
                &:focus {
                 outline-color: $quaternary;   
                }
    
                &.warning {
                    border-color: red;
                }
            }
    
            #submitEmail {
                height: 35px;
                font-size: 0.8rem;
                @include mq("m") {
                    width: 150px;
                    align-self: center;
                }
                @include mq("l") {
                    width: 75px;
                    height: 35px;
                    border-right: 0;
                }
            }
        }

        #submitEmailContainer {
            display: none;
            column-gap: 20px;

            h4 {
                display: none;
                margin: 0;
            }

            @include mq("l") {
                display: flex;
                justify-content: center;
                row-gap: 20px;
            }
            @include mq("xl") {
                flex-direction: column;
            }
        }

        

        #assignedImageContainer {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
            max-height: 506px;
            min-height: 400px;
            @include mq("l") {
                height: 806px;
                max-height: 806px;
            }

            #assignedImages {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 7px;
                @include mq("m") {
                    column-gap: 20px;
                    row-gap: 10px;
                }
                @include mq("l") {
                    column-gap: 20px;
                    row-gap: 10px;
                    align-content: flex-start;
                }
            }
            
            img {
                height: 93px;
                width: 93px;
                margin-bottom: 16px;
                border-radius: 4px;
                @include mq("m") {
                    height: 120px;
                    width: 120px;
                    margin-bottom: 0;
                }
                @include mq("l") {
                    height: 140px;
                    width: 140px;
                    margin-bottom: 0;
                }
                @include mq("xl") {
                    height: 181px;
                    width: 181px;
                }
            }

            #assignedImages {
                height: 100%;
                max-height: 100%;
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .bottomSection {
        width: 100%;

        #emailCollectionContainer {
            @include mq("m") {
                display: flex;
                flex-direction: column;
                width: 100%;
            } 
            #pageButtonContainer {
                @include mq("l") {
                    margin-top: 12px;
                }
            }
        }
        

        h3 {
            display: none;

            @include mq("m") {
                font-size: 1.4rem;
                align-self: center;
            }
            @include mq("l") {
                display: block;
                font-size: 1.2rem;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}