#headerContainer {
    width: 100%;
    display: flex;
    background-color: $tertiary;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        font-size: 1.4rem !important;
        @include mq("s") {
            font-size: 2.2rem !important ;
        }
        @include mq("l") {
            font-size: 2.6rem !important;
        }
        @include mq("xl") {
            font-size: 2.9rem !important;
        }
    }
}