#randomImageContainer {
    width: 100%;
    // height: 100%;
    color: white;
    border-bottom: solid 6px $quaternary;

    @include mq("l") {
        border-right: solid 6px $tertiary;
        width: 50%;
        border-bottom: none;
        padding-right: 25px;
    }

    button {
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
        border: solid 2px;
        border-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%) 1;
        border-radius: 5px;
    }

    .topSection {
        width: 100%;
        display: flex;
        justify-content: center;

        .largeDeviceVersion {
            display: none;

            @include mq("l") {
                display: block;
            }
        }

        .smallDeviceVersion {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #smallEmailOptions {
                background-color: transparent;
                color: $senary;
                border: none;
                margin-bottom: 30px;

                option {
                    background-color: transparent;
                    color: $senary;
                }

                &:active, &:hover {
                    outline: none;
                } 
            }

            #addEmailItems {
                display: flex;
                flex-direction: row-reverse;

                #smallSubmitEmail {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                }

                #smallUserEmail {
                    background-color: transparent;
                    border: solid 3px;
                    border-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%) 1;
                    border-left: 0;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: white;
                }
            }

            h4 {
                display: none;
            }

            @include mq("l") {
                display: none;
            }
        }

        h2 {
            position: relative;
            margin-top: 14px;
            font-size: 1.6rem;
            @include mq("s") {
                font-size: 1.8rem;
            }
            @include mq("l") {
                font-size: 2.4rem;
            }
        }

        h2::after {
            content: "";
            position: absolute;
            left: -12px; 
            right: -12px; 
            bottom: -7px; 
            height: 4px; 
            background-color: $quaternary; 
            z-index: -1;
            @include mq("l") {
                left: -16px; 
                right: -16px; 
                bottom: -14px; 
            }
        }
    }

    .midSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        @include mq("xl") {
            margin-bottom: 20px;
        }

        h3 {
            margin-top: 0;
            @include mq("l") {
                font-size: 1.3rem;
            }
        }

        #imageContainer {
            height: 286px;

            @media screen and (min-width: 520px) {
                height: 585px;
            }
            @include mq("smallmed") {
                height: 576px;
            }
            @include mq("m") {
                height: 706px;
            }
            @include mq("l") {
                height: 806px;
            }
        }

        img {
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            object-fit: cover;
            height: 286px;
            width: 230px;
            @media screen and (min-width: 520px) {
                height: 585px;
                width: 440px;
            }
            @include mq("smallmed") {
                height: 576px;
                width: 600px;
            }
            @include mq("m") {
                height: 706px;
                width: 650px;
            }
            @include mq("l") {
                height: 806px;
                width: 465px;
            }
            @include mq("xl") {
                width: 574px;
            }
        }

        #getImage {
            margin-top: 20px;
            width: 200px;
            height: 40px;
            @include mq("smallmed") {
                height: 50px;
            }
            @include mq("l") {
                margin-bottom: 40px;
                height: 60px;
                width: 250px;
            }
            @include mq("xl") {
                width: 300px;
                margin-bottom: 20px;
            }
        }
    }
}

.bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #assignButton {
        width: 160px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        @include mq("smallmed") {
            height: 40px;
        }

        @include mq("l") {
            margin-top: 0;
            margin-bottom: 0;
            width: 120px;
            height: 40px;
        } 
    }

    #pageNumber {
        display: flex;
        gap: 10px;
        font-size: 1.2rem;
    }

    h4 {
        display: none;
        align-self: center;
        font-size: 0.8rem;
        margin-top: 0;
        @include mq("m") {
            font-size: 1rem;
        } 
    }
}