// Background Colors

$primary: #141619;
$secondary: #2C2E3A;
$tertiary: #050A44;
$quaternary: #0A21C0;
$quinary: #B3B4BD;
$senary: #78abff;

// Breakpoints

$break-s: 380px;
$break-smallmed: 692px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;